<!DOCTYPE html>
<html>
<body>

<h1>Image Encrypter</h1>
<p>This is the image provided</p>
<img src="{{full_filename}}" alt="provided_image">

<p>This is the image encrypted</p>
<img src="{{pathy}}" alt="Encrypted_image">
<p>Here are the secret keys for the image</p>
<p> {{Kc}}</p>
<p> {{Kr}}</p>
<p> {{Iterations}}</p>

<!-- ISSUE: The path seems to be correct but when ran in local server, throws 404-->
<!-- Possible solutions: 1) Add a folder to store secrets and then GET them
                        2) Add an exception for 404 and use FLASK download thingy-->
<p> click these to download respective secrets</p>
<a href="../kc.txt">Download Kc! </a>
<a href="../kr.txt">Download Kr! </a>
<a href="../ITER_MAX.txt">Download ITER_MAX!</a>


</body>
</html>


